@model FriendsListViewModel;
@using GamesExchange.WebMvc.Helpers;
@using Identification = GamesExchange.Model.Identification;
@{
    ViewData["Title"] = "Amigos";
    ViewData["ActiveMenu"] = "FRIENDS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Amigos</h2>
            </div>
        </div>
    </div>
</div>


<div class="content-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Filtro</h4>
                </div>
                <div class="card-body">
                    <form action="@Url.Action("Index")" method="get" class="form form-horizontal">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label">Nome</label>
                                    <input type="text" class="form-control" name="Filter.FirstName" value="@Model.Filter.FirstName">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label">Sobrenome</label>
                                    <input type="text" class="form-control" name="Filter.LastName" value="@Model.Filter.LastName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light"><i data-feather="filter"></i> Filtrar</button>
                                <a href="@Url.Action("Create")" class="btn btn-secondary me-1 waves-effect waves-float waves-light"><i data-feather="plus-square"></i> Incluir</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Listagem</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Sobrenome</th>
                                <th>Email</th>
                                <th>Celular</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var friend in Model.Data)
                            {
                                <tr>
                                    <td>@friend.FirstName</td>
                                    <td>@friend.LastName</td>
                                    <td>@friend.Email</td>
                                    <td>@friend.CellNumber</td>
                                    <td>
                                        <a href="@Url.Action("Edit", new {id = friend.Id})" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Editar">
                                            <i data-feather="edit"></i></a>
                                        <a href="@Url.Action("Edit", new {id = friend.Id})" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir">
                                            <i data-feather="trash"></i></a>
                                    </td>
                                </tr>
                            }
                            @if(Model.Pagination.Summary.TotalRows == 0)
                            {
                                <tr>
                                    <td style="text-align:center;" colspan="10">Nenhum resultado encontrado</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model.Pagination.Summary.TotalRows > 0)
                {
                    <partial name="~/Views/Shared/_Pagination.cshtml" model="Model.Pagination" />
                }
            </div>
        </div>
    </div>
</div>